* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    
    font-family: Arial, sans-serif;
  }

  /* Whole Nav-Bar */
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #A9D1DE80;;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  /* SOLACE - IMG  */

  .logo img {
    height: 60px;
    width: 115px;
  }
  
  /* Nav-bar link */

  .nav-links {
    display: flex;
    list-style: none;
  }
  
  .nav-links li {
    margin-left: 3rem;
  }
  
  .nav-links a {
    color: #020202;
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  /* SIGN IN  */

  .signin-btn button {
    background-color: #ffffff;
    color: #020202;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .signin-btn button:hover {
    background-color: #dfd9d9;
  }
  